{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class=" col  s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Autocomplete</label>
                </div>
            </div>
            <h4>Lista de tareas</h4>
            <p>Estas son todas las tareas que has creado, puedes
                <a href="{{ path('tarea_new') }}">crear otra, si quieres</a>
            </p>.
            <div class="row">

                {% for tarea in tareas %}

                    <div class="col s12 m6 l6">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/300/300" height="200px" width="100px">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h6>{{tarea.titulo}}</h6>
                                    <p>{{tarea.descripcion}}</p>
                                </div>
                                <div class="card-action">
                                    <ul>
                                        <li>
                                            <a href="{{ path('tarea_edit', { 'id': tarea.id }) }}">
                                                <span class="blue-grey-text">Editar</span></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('tarea_show', { 'id': tarea.id }) }}">
                                                <span class="blue-grey-text">Detalles</span></a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

